---
import UserIcon from "./icons/UserIcon.astro";
---

<h2 class="text-3xl mb-6 font-semibold flex justify-center items-center gap-x-4">
    <UserIcon/>
    Sobre Mí
</h2>
<p class="text-pretty">
    Mi viaje en el <span class="text-blue-500">desarrollo de software</span> comenzó en Medellín, Colombia, a los 14 años con proyectos en Arduino. Esta experiencia temprana encendió mi pasión por transformar la lógica y la creatividad en soluciones funcionales y escalables.<br><br>

    Soy <span class="text-blue-500">Tecnólogo en Desarrollo de Software</span> y, actualmente, curso <span class="text-blue-500">Ingeniería de Software</span> en la Institución Universitaria Pascual Bravo.<br><br>

    <span>Me mantengo en un proceso de <span class="text-blue-500">aprendizaje constante</span>, explorando activamente nuevas tecnologías para mejorar mis habilidades técnicas y metodológicas.</span>
</p>