

<header class="flex justify-center items-center pt-6 mx-auto px-4 sm:px-6">
    <nav class="flex flex-wrap justify-center gap-x-6 gap-y-2 opacity-70 text-sm sm:text-base">
        <a href="#top" class="hover:scale-105 transition">Inicio</a>
        <a href="#projects" class="hover:scale-105 transition">Proyectos</a>
        <a href="#education" class="hover:scale-105 transition">Educación</a>
        <a href="#about" class="hover:scale-105 transition">Sobre mí</a>
        <!-- <a href="#contact" class="hover:scale-105 transition">Contacto</a> -->
    </nav>
</header>