---
import ProjectsItem from "./ProjectsItem.astro";
import ProjectsItems from "./ProjectsItem.astro";
import Badge from "./badge.astro";
import CodeIcon from "./icons/CodeIcon.astro";
import BookIcon from "./icons/bookIcon.astro";


interface Project {
  title: string;
  date: string;
  description: string;
  image?: string;
  technologies: string[];
}

const PROJECTS = [
  {
    date: 'Enero 2024',
    title: 'Web de Peliculas',
    description: 'Aplicación Full-Stack desarrollada con .NET y Angular. Se integra con la API de TMDB. Implementa Autenticación (JWT) y Autorización basada en Roles para la gestión de usuarios y perfiles personalizados, donde se pueden buscar películas, ver detalles y guardar las favoritas.',
    image: '/src/assets/moviesWebImages/homeImg.png',
    technologies: ['Angular', 'TypeScript', 'C#', '.NET', 'SQL Server']
  },
  {
    date: 'Octubre 2025',
    title: 'Aplicación de siestas inteligentes',
    description: 'Aplicación nativa para Zepp OS (plataforma de relojes inteligentes) desarrollada con JavaScript. Se utiliza Node.js para la gestión de módulos y herramientas de compilación. Implementa lógica de monitorización para analizar los datos de sensores del usuario, detectar la fase de sueño y programar la alarma de manera inteligente para evitar interrumpir el ciclo de sueño profundo.',
    image: '/src/assets/AppRelojImg.png',
    technologies: ['Zepp OS', 'JavaScript', 'Node.js']
  },
  {
    date: 'Junio 2025',
    title: 'Notificaciones sobre Mensualidades Vencidas',
    description: 'Desarrollada como una aplicación de escritorio con Electron, esta solución automatiza la gestión de cobros. Utiliza Node.js y la librería Puppeteer para el control headless de Chromium, simulando la sesión de WhatsApp y enviando notificaciones automáticas a partir de la lectura y procesamiento de archivos Excel.',
    image: '/src/assets/motoparkingImages/tableImg.png',
    technologies: ['Electron', 'Puppeteer', 'Node.js','Angular', 'TypeScript']
  }
];
---

<div class="flex justify-center items-center gap-x-4 mb-6">
    <CodeIcon/>
    <h1 class="text-3xl font-semibold">
        Proyectos
    </h1>
</div>

<div>
    {
        PROJECTS.map((item, index) => (
            <div class="mb-10">
                <ProjectsItems {...item} >

                    <div class="flex flex-wrap gap-2 mt-4 justify-end">
                        {item.technologies?.map((tech, i) => (
                          <Badge color={tech}>{tech}</Badge>
                        ))}
                    </div>
                    
                </ProjectsItems>
            </div>
        ))
    }
</div>